footer.w-full.text-md.text-gray-900.flex-none.pt-4
        #footer__menu.max-w-5xl.w-full.mx-auto.flex-none
          #columns.w-full.flex.space-x-8.flex-none
            section(class='w-3/12 flex-none')
              img(src="https://picsum.photos/200", alt="company logo" class='w-32 h-32 object-cover flex-none rounded-full')
            section(class="w-3/12 flex-none")
              ol.w-full.flex.flex-col.space-y-2.flex-none
                li.w-full.flex-none
                  h4.text-3xl Contact-Mark
                li.w-full.flex-none
                  a(href="/#3") Contact
            section(class="w-3/12 flex-none")
              ol.w-full.flex.flex-col.space-y-2.flex-none
                li.w-full.flex-none
                  h4.text-3xl Product
                li.w-full.flex-none
                  a(href="/#3") Contact
            section(class="w-3/12 flex-none")
              ol.w-full.flex.flex-col.space-y-2.flex-none
                li.w-full.flex-none
                  h4.text-3xl Company
                li.w-full.flex-none
                  a(href="/#3") Home
                li.w-full.flex-none
                  a(href="/#3") About Us
                li.w-full.flex-none
                  a(href="/#3") Landscape
        #copy.max-w-5xl.w-full.mx-auto.p-8.flex-none
          p.text-center
            | Copyright © 2020 My Company. All rights reserved.