:root {
  --color_primary: #1c2826;
  --color_alt: #ee6352;
  --color_icon: #29f0b4;
  --text_primary: #1b1f2e;
  --text_secondary: #7a7a7a;
  --text_tertiary: #838694;
  --progress_bg: #e9ecef;
  --testimonial_bg: #f7f7f9;
  --white: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.cta2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

.cardsm__parent:hover {
  box-shadow: 10px 18px 20px 0px rgba(0, 0, 0, 0.03);
}
.cardsm__parent:hover > .cardsm__content {
  background: var(--white);
  transition: all 0.3s ease-in-out;
}
.cardsm__parent:hover .cardsm__content .__norm {
  transition: all 0.3s ease-in-out;
  color: #838694;
}
.cardsm__parent:hover .cardsm__content .__dark {
  transition: all 0.3s ease-in-out;
  color: var(--text_primary);
}

/* JS SLIDER */
#splide__main {
  margin-top: 1.5rem;
}

.splide__slide {
  margin: 0 1rem 0 1rem !important;
}
.splide__arrows {
  position: absolute;
  bottom: 22px;
  left: 25px;
  z-index: 2;
}

.splide__arrow svg {
  width: 1.5rem;
  height: 1.5rem;
}

.splide__arrow--prev svg {
  fill: #000;
  transform: rotate(180deg);
}
.splide__arrow--prev:hover svg {
  fill: #fff;
  /* transform: rotate(180deg); */
}
.splide__arrow--prev {
  padding: 0.875rem;
  background-color: #fff;
  margin-right: 0.875rem;
}
.splide__arrow--prev:hover {
  background-color: var(--color_primary);
}

.splide__arrow--next svg {
  fill: #fff;
}
.splide__arrow--next {
  padding: 0.875rem;
  background-color: var(--color_alt);
}
.splide__arrow--next:hover {
  background-color: var(--color_primary);
}
