
doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body.w-full.min-h-full.flex.flex-col.justify-start.inline-flex.items-start.flex-none
    header.w-full.border-b-2.py-2
      div.container.mx-auto.py-2
        nav.w-full.flex.flex-row.justify-between.items-center.text-xl.text-gray-700
          div.flex.text-xl.text-gray-700
            p VR Funding
          div.flex.flex-row
            span.mr-6
              i.far.fa-compass.mr-2.text-blue-400.text-2xl
              | Explore
            span.ml-6 Start a Project
          div
            ul.flex.flex-row.items-center
              li.mr-4
                i.fas.fa-search
              li.mr-4.border-2.border-gray-400.rounded-full.py-2.px-6
                i.fas.fa-wallet.mr-4
                span.font-semibold Wallet
              li
                img(class="rounded-full h-12 w-12" src='https://i.imgur.com/vKBxTj7.jpg' alt='user')

    main.w-full
      #container.container.mx-auto
        block content

    block footer
      include includes/foot.pug